---
	import Layout from "../layouts/layout.astro";
	import Header from "../components/Header";
---


<Layout>
	<Header client:load />
	<section class="border border-indigo-500" id="servicios">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, recusandae accusamus delectus qui a aliquam similique dicta ducimus eum quo laudantium sunt ex at consequatur? Accusantium voluptatem nemo est atque!</p>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, recusandae accusamus delectus qui a aliquam similique dicta ducimus eum quo laudantium sunt ex at consequatur? Accusantium voluptatem nemo est atque!</p>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, recusandae accusamus delectus qui a aliquam similique dicta ducimus eum quo laudantium sunt ex at consequatur? Accusantium voluptatem nemo est atque!</p>
	</section>

	<section class="border border-indigo-500" id="servicios">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, recusandae accusamus delectus qui a aliquam similique dicta ducimus eum quo laudantium sunt ex at consequatur? Accusantium voluptatem nemo est atque!</p>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, recusandae accusamus delectus qui a aliquam similique dicta ducimus eum quo laudantium sunt ex at consequatur? Accusantium voluptatem nemo est atque!</p>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, recusandae accusamus delectus qui a aliquam similique dicta ducimus eum quo laudantium sunt ex at consequatur? Accusantium voluptatem nemo est atque!</p>
	</section>

	<section class="border border-indigo-500" id="unidades">
		<h1 class="text-3xl text-red-300 font-extrabold">Unidades</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, recusandae accusamus delectus qui a aliquam similique dicta ducimus eum quo laudantium sunt ex at consequatur? Accusantium voluptatem nemo est atque!</p>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, recusandae accusamus delectus qui a aliquam similique dicta ducimus eum quo laudantium sunt ex at consequatur? Accusantium voluptatem nemo est atque!</p>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, recusandae accusamus delectus qui a aliquam similique dicta ducimus eum quo laudantium sunt ex at consequatur? Accusantium voluptatem nemo est atque!</p>
	</section>


	<section class="border border-indigo-500" id="servicios">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, recusandae accusamus delectus qui a aliquam similique dicta ducimus eum quo laudantium sunt ex at consequatur? Accusantium voluptatem nemo est atque!</p>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, recusandae accusamus delectus qui a aliquam similique dicta ducimus eum quo laudantium sunt ex at consequatur? Accusantium voluptatem nemo est atque!</p>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, recusandae accusamus delectus qui a aliquam similique dicta ducimus eum quo laudantium sunt ex at consequatur? Accusantium voluptatem nemo est atque!</p>
	</section>
</Layout>
