---
    import Navbar from "./landing/Navbar";
---

<header class="h-screen bg-[#1e324d] flex flex-col gap-4 border-red-100">
    <Navbar client:load />
    <div>
        <h1 class="text-white">Slogan e imagen del header</h1>
    </div>

    <p>Amarrillo fccd16</p>
</header>